body{
    background-image: url(bat.jpg);
    background-size: cover;
    text-align: center;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    border: 5px solid black;
    color: red;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0px -5px 10px rgba(0,0,0,0.5);
    border-radius: 15px;
    text-shadow: 2px 2px 4px gray;
}
h2 {
    border: 3px solid black;
    color: red;
    padding: 5px 10px;
    margin: 10px auto;
    width: 70%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px -5px 10px rgba(0,0,0,0.5);
    border-radius: 15px;
    text-shadow: 2px 2px 4px gray;
}
img{
    border: 4px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
    width: 200px;
    height: 230px;
}
form {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    width: 60%;
    margin: 30px auto;
    padding: 20px;
}
input[type="submit"] {
    background: linear-gradient(to bottom, red, darkred);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
    cursor: pointer;
}
a {
    color: red;
    text-decoration: none;
    text-shadow: 1px 1px 3px black;
    display: inline-block;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}
