body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('forest_animals.jpg');
    background-size: cover;
    background-position: center;
    
}
h1{
    color: palevioletred;
}
p{
    color: palevioletred;
}
#board {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 20px;
    justify-content: center;
}

.card {
    width: 100px;
    height: 80px;
    display: inline-block;
    margin: 5px;
    background-color: pink;
    color: white;
    font-size: 36px;
    line-height: 70px;
    cursor: pointer;
}

.open {
    background-color: powderblue;
}

.matched {
    background-color: lightgreen;
    color: white;
    cursor: default;
}
#message{
    color:palevioletred;
    font-weight: bold;
    font-size: 20px;
}